.footer {
  background-color: #1b75bc42;

  div {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .logo-footer {
    img {
      width: 60px;
    }
  }

  .social {
    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        font-size: 24px;
        color: $color-main;
      }
    }
  }

  .title-h4 {
    font-size: 16px;
  }
}